@tailwind base;
@tailwind components;
@tailwind utilities;

/* vertical line to the left of the comments */
.comments-container::before {
    position: absolute;
    display: block;
    top: 0;
    left: -40px;
    content: "";
    width: 3px;
    height: 100%;
    /* background: #78909c;*/
    background: #78909c;
    opacity: .07;
}

.comment-container::before {
    position: relative;
    display: block;
    top: 57px;
    content: "";
    width: 23px;
    height: 3px;
    /* background: #78909c;*/
    background: #78909c;
    left: -40px;
    opacity: .07
}

.comment-container:last-child::after {
    position: absolute;
    display: block;
    top: 60px;
    left: -40px;
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background: theme('colors.gray-background');
}

.is-admin::before {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgba(36, 37,38, .08);
    left: -58px;
    background: theme('colors.purple');
    opacity: 1;
}
